body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #1e1e2f;
    line-height: 1.6;
    color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    overflow: hidden;
}

.container {
    width: 50%;
    max-width: 400px;
    padding: 20px;
    background: #2a2a3f;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h3 {
    color: #e0e0e0;
    margin-top: 40px;
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
    color: #cccccc;
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin: 20px 0;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    background: #2a2a3f;
    color: #f4f4f9;
    transition: border-color 0.3s;
}

input[type="file"]:focus {
    border-color: #007bff;
    outline: none;
}

.sonuc {
    font-weight: bold;
    color: #2188C9;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.sonuc:hover {
    color: #00bfff;
    transform: scale(1.1);
    text-shadow: 0 0 8px rgba(0, 191, 255, 0.8), 0 0 20px rgba(0, 191, 255, 0.6), 0 0 30px rgba(0, 191, 255, 0.4);
}

button {
    padding: 12px 25px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: block;
    margin: 8px;
}

button:hover {
    background: #007bff;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.3);
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: rgba(0, 123, 255, 0.2);
    color: #ffffff;
    text-decoration: none;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 95%;
    border-radius: 10px;
}

.drop-area {
    border: 2px dashed #555;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    background: #2a2a3f;
}

.drop-area.hover {
    background-color: #222;
}

.file-name {
    margin-top: 10px;
    font-weight: bold;
}

footer {
    background-color: #2a2a3f;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.parilti {
    position: relative;
    z-index: 1;
}

.efekt {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    animation: pulse 1.5s infinite;
    z-index: 0;
    filter: blur(5px);
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.1;
    }
    50% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(1);
        opacity: 0.1;
    }
}

.kalp {
    font-size: 16.5px;
    display: inline-block;
    animation: kalpbeat 1s infinite;
    color: #007bff;
}

@keyframes kalpbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.dil-secici {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.dil-secici select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #2a2a3f;
    border: 2px solid #2a2a3f;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    color: #f0f0f0;
    width: 160px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dil-secici select:hover {
    background-color: #555;
}

.dil-secici select:focus {
    outline: none;
    border-color: #ff8f8f;
    background-color: #444;
}

.dil-secici option {
    background-color: #333;
    color: #f0f0f0;
    padding: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    text-align: center;
}

.dil-secici option:checked {
    background-color: #ff8f8f;
    color: #121212;
}

.dil-secici select:hover,
.dil-secici select:focus {
    border-color: #007bff;
    background-color: #2a2a3f;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .dil-secici select {
        font-size: 14px;
        padding: 8px 15px;
        width: 140px;
    }
}
